
.container{
    display: grid;  
grid-template-columns: 1fr 1fr;
grid-template-rows: minmax(300px,auto);
gap: 2%
}


.container__cartas{
    display: grid;  
    grid-template-columns: repeat(4,1fr);
    gap: 5%
}

.container__informacion{
display: grid;
grid-template-columns: 1fr;
gap: 5%;
}

tr{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: minmax(1f,auto);
}

@media screen and (max-width : 768px){
    .container{
        display: grid;  
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: minmax(300px,auto);
    gap: 6%;
    }

    .container__cartas{
        display: grid;  
        grid-template-columns: repeat(2,1fr) ;
        gap: 100px;
        min-height: auto;
    }
    
    .container__cartas__carta{
        max-width: 70%;
        padding-left: 20%;
    }

    header h1{
        text-align: center;
        font-size: 26px;
    }
}